/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:root {
	--recipe-bg:#967259;
	--recipe-text: #ece0d1;
	--recipe-fs-base: 1rem;
	--recipe-spacing: 1rem;
}

.wp-block-create-block-polco-recipe {

	display: block;
	background-color: var(--recipe-bg);
	padding: var(--recipe-spacing);
	color: var(--recipe-text);

	.polcode-recipe--title {
		font-size: calc(var(--recipe-fs-base) * 2);
		margin-bottom: var(--recipe-spacing);
		font-weight: bold;
	}

	.polcode-recipe--summary {
		font-size: calc(var(--recipe-fs-base) * 1);
		letter-spacing: 1;
	}

	.polcode-recipe--contents {
		margin-top: var(--recipe-spacing);
		font-size: calc(var(--recipe-fs-base) * 1);
		letter-spacing: 1;
	}

}
